body {
	overflow-x: hidden;
	color: #000;
}
h2{
	margin-top: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 40vw;
	height: 6vh;
	margin-bottom: 10px;
}

.carousel-control.right {
	color: red;
	background-color: transparent;
	margin-right: -50px;
	background-image: none;
}

.carousel-control.left {
	color: red;
	background-color: transparent;
	background-image: none;
	margin-left: -50px;
}

.slider {
	height: 60vh;
	background-color: #5cb85c;
}

.slide {
	margin-top: 20px;
}

.red {
	margin-top: 0;
	color: #e9332d;
}

.red_2 {
	margin-top: 20px;
	color: #2b669a;
}

.btn-block1 {
	border-radius: 0;
	margin-right: 0;
}

.menu_fixed {
	background-image: url(../img/banner_1_bg.jpg);
	background-size: contain;
	height: 9vh;
}

.glyphicon-play-circle {
	color: orange;
}

.white {
	color: #FFF;
}

.indent {
	height: 12vh;
}

.indent2 {
	margin-bottom: 6vh;
}
.logo{
	margin-top: 1vh;
}
.img_catalog:hover {
	border-color: blue;
}

.indent3 {
	margin-top: 3vh;
}

.armatura {
	background: url(../img/armatura_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.balka {
	background: url(../img/balka_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.polosa {
	background: url(../img/polosa_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.provolka {
	background: url(../img/provolka_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.ygolok {
	background: url(../img/ygolok_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.shvell {
	background: url(../img/shvell_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.prokat {
	background: url(../img/prokat_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.truba_kv {
	background: url(../img/truba_kv_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.truba_kr {
	background: url(../img/truba_kr_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.truba_prof {
	background: url(../img/truba_prof_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.nastil {
	background: url(../img/nastil_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.setka {
	background: url(../img/setka_header_bg.jpg);
	background-size: cover;
	height: 20vh;
}

.prais {
	background: linear-gradient(to top, grey, lightgray);
	border-bottom-width: 4px;
	height: 14vh;
	border-color: #000;
	padding-bottom: 5vh;
}
.prais:active:hover {
	background: linear-gradient(to top, grey, lightgray);
	border-bottom-width: 4px;
	height: 14vh;
	border-color: #000;
}

.color_grey {
	background-color: #e9e2e9;
}

.black {
	color: #000;
}
.padding_auto{
	margin-bottom: 5vh;
}
.margin_text_btn{
	margin-bottom: 1vh;
}

.banner_1 {
	background: url(../img/banner_1_bg.jpg) center;
	background-size: contain;
	max-width: 100%;
	height: auto;
	width: 100vw;
}

.blue {
	color: #2b669a;
}

.vozmojnosti {
	height: 50vh;
}

.prais2 {
	background: linear-gradient(to top, #3300C6, #006FF6);
	border-bottom-width: 4px;
	height: 14vh;
	border-color: #000;
}

.indent7 {
	margin-top: 15vh;
}

.partners {
	height: 15vh;
	background-color: #2aabd2;
}

.postavki {
	height: 15vh;
	background-color: #5cb85c;
}

.form {
	margin-top: -2px;
	background: url(../img/form_bg.jpg);
	background-size: cover;
	height: 100vh;
}

.opasity_1 {
	opacity: 1;
}

.well{
	background: rgba(255, 255, 255, .75);

	border-radius: 20px;
}

.form-group {
	margin-bottom: 0;
}

.btn_style {
	height: 10vh;
}

.car_2 {
	opacity: 1;
	height: 60vh;
}

.car_bg {
	background: url(../img/car_2_bg.jpg);
}

.slide_panel, .slide_panel_office, .slide_panel_sklad {
	display: none;
}

.prais_text, .indent8 {
	margin-top: 4vh;
}

.indent4, .indent6 {
	margin-top: 10vh;
}

.indent5, .prais_text2 {
	margin-top: 1vh;
}

.info_place, .prodazi {
	background: url(../img/banner_1_bg.jpg);
	background-size: contain;
}

.indent9, .car_text {
	margin-top: 25vh;
}

.prais_bg{
	padding-top: 1vh;
	background: url(../img/banner_1_bg.jpg);
		background-size: contain;
}
a{
	color: black;
}
a:hover{
	text-decoration: blink;

}
textarea{
	min-height:15vh;
}
.form_label{
	font-size: 1.5em;
}
footer{
	background: url(../img/banner_1_bg.jpg);
			background-size: contain;

}